@model WebApplication12.Models.languages

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>languages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.languages_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.languages_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.languages_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.languages_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prices)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
